{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Dedicated Python and Full Stack Developer with an M.Tech in Software Engineering, currently working as a PGET at Renault Nissan Technology and Business Centre. Skilled in software development, creating robust web and software applications, and implementing scalable solutions. Experienced AI Developer with expertise in Python, focused on leveraging AI technologies to drive innovation. Seeking to apply digital solutions to enhance operational efficiency and sustainability in the industry. Adept in team collaboration, problem-solving, and project management.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
